torch
torchvision
opencv-python>=4.9.0.80
diffusers
transformers>=4.49.0
accelerate>=1.1.1
tqdm
imageio
#easydict
ftfy
#dashscope
imageio-ffmpeg
numpy
#wandb
omegaconf
einops
#av==13.1.0
opencv-python-headless
#git+https://github.com/openai/CLIP.git
#lmdb
#pydantic==2.10.6
#scikit-image
#huggingface_hub[cli]
#dominate
#nvidia-tensorrt
#pycuda
#onnx
#onnxruntime
#onnxscript
#onnxconverter_common
#flask
#flask-socketio
#torchao
xfuser==0.4.1
librosa==0.10.2.post1
#peft==0.15.1
